body {
	font-family: Arial, sans-serif;
}

#board {
	margin: auto;
	margin-top: 30px;
	height: 300px;
	width: 300px;
	border: 1px solid green;
	background-color: #A6D785;
}

.square {
	height: 15px;
	width: 15px;
	float: right;
	background-color: #A6D785;
}

.snake {
	background-color: green;
}

.food {
	background-color: red;
}

header {
	text-align: center;
}

.score {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

button {
	margin-left: 15px;
	margin-right: 15px;
	width: 100px;
}

#game-over {
	font-size: 2em;
	color: red;
	text-align: center;
}

